<div class="collapse navbar-collapse" id="navbar" data-v-component-menu="header" data-v-slug="main-menu"><img src="/public/media/logo.png" class="mw-100 align-center">
          <ul class="navbar-nav ms-auto" data-v-menu-items="">
            <li class="nav-item dropdown vvveb-hidden  has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="1" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link   dropdown-toggle" href="" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   "></span>                <span data-v-menu-item-content=""></span>
              </a>

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item vvveb-hidden " data-v-class-if-dropdown="category.children > 0" data-v-id="2" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item  " data-v-class-if-active="category.active" href="" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   "></span>                                      </a>
                </div>                
              </div></li><li class="nav-item dropdown vvveb-hidden " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="3" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   "></span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="42" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Home</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="59" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/about-11" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">About</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="43" data-v-component="menu" data-v-type="menu-item">

              

                          </li><li class="nav-item dropdown   has-dropdown position-static" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="67" data-v-component="menu" data-v-type="menu-item">

              

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="68" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item  " data-v-class-if-active="category.active" href="/page/about-11" data-v-menu-item-url="">
                                                          </a>
                </div>                
              </div></li><li class="nav-item dropdown   has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="63" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link   dropdown-toggle" href="/page/services-12" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Services</span>                <span data-v-menu-item-content=""></span>
              </a>

                          <div class="dropdown-menu" data-v-menu-item-recursive="">
                <div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="64" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item  " data-v-class-if-active="category.active" href="/page/pricing-13" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Pricing</span>                                      </a>
                </div><div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="65" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item  " data-v-class-if-active="category.active" href="/page/services-12" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Services</span>                                      </a>
                </div><div data-v-menu-item="" class="nav-item  " data-v-class-if-dropdown="category.children > 0" data-v-id="66" data-v-component="menu" data-v-type="menu-item">
                  <a class="dropdown-item  " data-v-class-if-active="category.active" href="/page/portfolio-14" data-v-menu-item-url="">
                    <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Portfolio</span>                                      </a>
                </div>                
              </div></li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="46" data-v-component="menu" data-v-type="menu-item">

              

                          </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-class-if-position-static="category.has-text" data-v-id="49" data-v-component="menu" data-v-type="menu-item">

              <a class="nav-link  " href="/page/contact-7" data-v-class-if-dropdown-toggle="category.children > 0" data-v-class-if-active="category.active" aria-expanded="false" data-v-menu-item-url="">
                <span data-v-menu-item-name="" data-v-if-not="category.type = 'text'" class="   ">Contact</span>                <span data-v-menu-item-content=""></span>
              </a>

                          </li>            
            
            
            <li class="nav-toggle">
              
              <div class="dropdown user-box nav-item">
                <a class="dropdown-toggle nav-link " href="/user" role="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-v-url="user/index">
                  
                  <i class="la la-lg la-user"></i>
                  <span class="visually-hidden">User</span>
                </a>

                <div class="dropdown-menu dropdown-menu-end login-box p-4" aria-labelledby="user-dropdown">

                  <div data-v-component-user="">                    <div class="notifications" data-v-notifications="">

                      
                      
                      <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info="" data-v-type="login">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center" data-v-notification-text="">This is a dummy info message!</div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            
                          </span>
                        </button>
                      </div>                    </div>

                    <form action="" method="post" enctype="multipart/form-data" data-v-url="user/login" data-v-vvveb-action="login" data-v-vvveb-on="submit" class="login-form">

                      <input type="hidden" name="csrf" data-v-csrf="" value="QGOuu6ITJiKmPqWt">

                      <div class="login-form   " data-v-if-not="component.user_id">

                        <div class="mb-3">
                          <label class="form-label" for="input-email">E-Mail Address</label>
                          <input type="email" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" required="">
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="input-password">Password</label>
                          <input type="password" minlength="4" autocorrect="off" autocomplete="current-password" name="password" value="" placeholder="Password" id="input-password" class="form-control" required="">
                        </div>

                        <button type="submit" value="Login" class="btn btn-primary btn-login w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Authenticating</span>... </span>

                          <span class="button-text">
 Login <i class="la la-arrow-right float-end ms-2"></i>
                          </span>

                        </button>
                        <div class="my-2"></div>
                        <a href="/user/reset" data-v-url="user/reset/index" class="my-2">Forgotten Password</a>

                        <div class="my-2"></div>
                        
                        <hr>
                        <span>Don’t have an account?</span>
                        <a href="/user/signup" data-v-url="user/signup/index">Register Account</a>

                      </div>                      <div class="user-form   vvveb-hidden" data-v-if="component.user_id">
                        <div class="text-center">Welcome <b data-v-user-first_name=""></b>
                          <b data-v-user-last_name=""></b>
                        </div>

                        <div class="dropdown-divider opacity-50 my-3"></div>

                        <ul class="m-3 list-unstyled">
                          <li>
                            <a href="/user" data-v-url="user/index">
                              <i class="la la-user la-lg text-muted m-1"></i>
                              <span>My account</span>
                            </a>
                          </li>
                          <li>
                            <a href="/user/comments" data-v-url="user/comments/index">
                              <i class="la la-comment la-lg text-muted m-1"></i>
                              <span>Comments</span>
                            </a>
                          </li>
                          <li>
                            <a href="/user/orders" data-v-url="user/orders/index">
                              <i class="la la-shopping-bag la-lg text-muted m-1"></i>
                              <span>Orders</span>
                            </a>
                          </li>
                          <li>
                            <a href="/user/downloads" data-v-url="user/downloads/index">
                              <i class="la la-hand-holding-heart la-lg text-muted m-1"></i>
                              <span>Downloads</span>
                            </a>
                          </li>
                          <li>
                            <a href="/user/wishlist" data-v-url="user/wishlist/index">
                              <i class="la la-download la-lg text-muted m-1"></i>
                              <span>Wishlist</span>
                            </a>
                          </li>
                          <li>
                            <a href="/user/profile" data-v-url="user/profile/index">
                              <i class="la la-cogs la-lg text-muted m-1"></i>
                              <span>Profile</span>
                            </a>
                          </li>
                        </ul>


                        <input type="hidden" name="logout">

                        <button type="submit" value="logout" class="btn btn-sm btn-primary w-100">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Loading ...</span>... </span>

                          <span class="button-text">
                            <i class="la la-sign-out-alt la-lg m-1"></i>
                            <span>Log out</span>
                            
                          </span>

                        </button>
                      </div>                    </form>

                  </div>
                </div>
              </div>

            </li>
            <li class="nav-toggle">
              
              <div class="dropdown nav-item mini-cart" data-v-component-cart="">                <a class="dropdown-toggle cart-info nav-link " href="/cart" role="button" id="cart-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-v-url="cart/cart/index">
                  
                  <i class="la la-lg la-shopping-bag"></i>
                  <span class="visually-hidden">Cart</span>
                  <strong class="text-top text-bold   vvveb-hidden" data-v-total_items="" data-v-if="cart.total_items > 0">0</strong>                </a>


                <div class="dropdown-menu dropdown-menu-end cart-box" aria-labelledby="cart-dropdown">

                  <div>
                    <div class="table-responsive">
                      <table class="table cart-table align-middle mb-0">
                        <tbody>


                          <tr data-v-cart-product="" data-product_id="1" data-key="0">
                            <td class="text-center">
                              <a href="" data-v-cart-product-url="">
                                <img src="#" alt="Product name" class="img-rounded" loading="lazy" data-v-cart-product-image="" width="50">
                              </a>
                            </td>
                            <td class="text-start">
                              <a href="" class="d-block" data-v-cart-product-url="" data-v-cart-product-name=""></a>

                              <span data-v-cart-product-quantity=""></span>
                              <i class="la la-times text-muted"></i>
                              <span data-v-cart-product-price_tax_formatted=""></span>

                              <div class="option   vvveb-hidden" data-v-if="product.option">
                                <div class="" data-v-product-option="">
                                  <span data-v-product-option-option=""></span>: <span data-v-product-option-name=""></span>
                                  <span data-v-if="value.price" class="   vvveb-hidden">(<span data-v-product-option-price=""></span>)</span>                                </div>                                
                                
                              </div>                              <div class="subscription   vvveb-hidden" data-v-if="product.subscription">
                                <span>Subscription plan</span>:
                                <span data-v-cart-product-subscription_name=""></span>
                              </div>                            </td>
                            <td class="text-end">
                              <a class="btn btn-outline-secondary btn-sm border-0" data-v-vvveb-action="removeFromCart" data-v-cart-product-remove-url="" href="/?module=cart&amp;action=remove&amp;product_id=1">
                                <i class="la la-times"></i>
                              </a>
                            </td>
                          </tr>                          
                          <tr data-v-if-not="cart.total_items" class="   ">
                            <td colspan="100">
                              <div class="d-flex  p-2">
                                <div class="text-center p-2 opacity-75">
                                  
                                  <i class="la la-2x la-shopping-bag"></i>
                                </div>
                                <div class="p-2">
                                  <strong>Empty cart</strong>
                                  <br>
                                  <span class="text-muted">No products added yet!</span>
                                </div>
                              </div>
                            </td>
                          </tr>                        </tbody>

                      </table>
                    </div>

                    <div class="p-3 pt-0 border-top   vvveb-hidden" data-v-if="cart.total_items">
                      <div class="table-responsive mb-2" data-v-cart-totals="">
                        <table class="table mb-0 cart-table cart-total" cellspacing="0">
                          <tfoot>
                            <tr data-v-cart-total="">
                              <td colspan="5" class="text-end">
                                <small data-v-cart-total-title=""></small>:
                              </td>
                              <td class="text-end">
                                <span data-v-cart-total-text="" data-v-if="total.text" class="   vvveb-hidden"></span>                                <span data-v-cart-total-value_formatted="" data-v-if="total.value > 0" class="   vvveb-hidden"></span>                              </td>
                            </tr>                            
                            
                            
                            <tr>
                              <td colspan="5" class="text-end">Total:</td>
                              <td class="text-end" data-v-grand-total_formatted="">$0.00</td>
                            </tr>
                          </tfoot>

                        </table>
                      </div>

                    </div>                    <div class="row mt-2 g-2 px-3 pb-2   vvveb-hidden" data-v-if="cart.total_items">
                      <div class="col-6">
                        <a href="/cart" class="btn btn-light btn-sm border w-100" data-v-url="cart/cart/index">
                          <i class="la la-shopping-cart la-lg"></i>
                          <span>View cart</span>
                        </a>
                      </div>
                      <div class="col-6">
                        <a href="/checkout" class="btn btn-primary btn-sm w-100" data-v-url="checkout/checkout/index">
                          <span>Checkout</span>
                          <i class="la la-arrow-right la-lg"></i>
                        </a>
                      </div>
                    </div>                  </div>
                </div>

              </div>

            </li>
          </ul>

          <div class="search-area toggle-hover">
            <form action="/search" method="get" data-v-action="/search">
              <input type="hidden" name="route" value="search">
              <div class="input-group">
                <input type="search" name="search" class="form-control" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-v-vvveb-on="keyup">
                <button class="btn border-0" type="submit" title="Search">
                  <div class="la-flip-horizontal">
                    <i class="la la-search la-lg" aria-hidden="true"></i>
                  </div>
                </button>
              </div>
            </form>
          </div>

        </div>