.oval_box_fitur {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #dac52c;
    border-radius: 100%;
    font-size: 18px;
    padding-top: 10px;
    color: #fff;
}

.oval_box_fitur svg {
    margin-top:-65px;
}

#box_fitur_1 {
	-webkit-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  border-radius:10px;
}

#box_fitur_2 {
	-webkit-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  border-radius:10px;
}

#box_fitur_3 {
	-webkit-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  border-radius:10px;
}

#box_fitur_4 {
	-webkit-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  box-shadow: 2px 9px 19px -2px rgba(0,0,0,0.15);
  border-radius:10px;
}

#box_fitur_1 .desc_fitur {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgb(255, 213, 5);
	color: rgb(52, 58, 64);
	font-weight: 500;
	width: auto;
	height: auto;
    text-align: left; 
    font-weight: bold;
    border-radius:4px;
}

#box_fitur_2 .desc_fitur_2 {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #007bff;
	font-weight: 500;
	width: auto;
	height: auto;
    text-align: left; 
    font-weight: bold;
    color:#fff;
    border-radius:4px;
}

#box_fitur_3 .desc_fitur_2 {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #007bff;
	font-weight: 500;
	width: auto;
	height: auto;
    text-align: left; 
    font-weight: bold;
    color:#fff;
    border-radius:4px;
}

#box_fitur_4 .desc_fitur_2 {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #9AE906;
	font-weight: 500;
	width: auto;
	height: auto;
    text-align: left; 
    font-weight: bold;
    color:#fff;
    border-radius:4px;
}

#box_fitur_1 .title_fitur_1 {
    font-size: 16px;
	margin-left: 8px;
	margin-bottom: 0px;
    text-align: left;
    margin-top:-50px;
}

#box_fitur_2 .title_fitur_1 {
    font-size: 16px;
	margin-left: 8px;
	margin-bottom: 0px;
    text-align: left;
    margin-top:-50px;
}

#box_fitur_1 .oval_1 {
	background-color: rgb(23, 162, 184);
	margin-left: 0px;
	position: relative;
	left: -40px;
	top: -40px;
	bottom: 0px;
	display: block;
}

#box_fitur_2 .oval_1 {
	background-color: #007bff;
	margin-left: 0px;
	position: relative;
	left: -40px;
	top: -40px;
	bottom: 0px;
	display: block;
}

#box_fitur_3 .oval_1 {
	background-color: #007bff;
	margin-left: 0px;
	position: relative;
	bottom: 0px;
	display: block;
}

#box_fitur_4 .oval_1 {
	background-color: #9ae906;
	margin-left: 0px;
	position: relative;
	bottom: 0px;
	display: block;
}

#card-youtube-noframe-1 {
	overflow: hidden;
}

#box_fitur_5 .card {
	background-color:none;
}

#boxed_fitur_5 svg {
	font-size: 16px;
    background-color: rgb(255, 193, 7);
    border-top-left-radius: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


.cards {
	overflow: hidden !important;
	border-radius:12px;
}

.card > .card-image {
	overflow: hidden;
	background-size: contain;
	min-height: 150px;
	width:100%;
}

.card > .card-image > img {
	object-fit: cover;
}

.card-float {
	display:flex;
	flex-direction: row;
}

.card-float .card-image {
	width:50%;
}

.card-float .card-body {
	width:50%;
}

@media screen and (max-width: 500px) {
    .card-float {
		flex-direction: column;
	}
	.card-float .card-image {
		width:100%;
	}

	.card-float .card-body {
		width:100%;
	}
}

.post-meta ul li {
	text-decoration: none;
	list-style: none;
}

.post-meta {
	list-style: none;
}