<div class="section produk-fitur-2" id="service">
   

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-4 mb-lg-0">
              <svg version="1.1" width="64" height="64" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#8b1d28">
                <path class="clr-i-outline--alerted clr-i-outline-path-1--alerted" d="M 34 29 C 34 30.105 33.105 31 32 31 L 4 31 C 2.895 31 2 30.105 2 29 L 2 7 C 2 5.895 2.895 5 4 5 L 21.958 5 L 20.786 7 L 4 7 L 4 29 L 32 29 L 32 15.357 L 34 15.357 Z"></path>
                <path d="M 29 18 C 29 19.657 27.657 21 26 21 C 24.343 21 23 19.657 23 18 C 23 16.343 24.343 15 26 15 C 27.657 15 29 16.343 29 18 Z M 26 16.6 C 25.227 16.6 24.6 17.227 24.6 18 C 24.6 18.773 25.227 19.4 26 19.4 C 26.773 19.4 27.4 18.773 27.4 18 C 27.4 17.227 26.773 16.6 26 16.6 Z" class="clr-i-outline--alerted clr-i-outline-path-2--alerted" rx="3"></path>
                <path d="M 15 14 C 15 16.209 13.209 18 11 18 C 8.791 18 7 16.209 7 14 C 7 11.791 8.791 10 11 10 C 13.209 10 15 11.791 15 14 Z M 11 11.6 C 9.675 11.6 8.6 12.675 8.6 14 C 8.6 15.325 9.675 16.4 11 16.4 C 12.325 16.4 13.4 15.325 13.4 14 C 13.4 12.675 12.325 11.6 11 11.6 Z" class="clr-i-outline--alerted clr-i-outline-path-3--alerted" rx="3"></path>
                <path d="M 21 23 C 21 24.657 19.657 26 18 26 C 16.343 26 15 24.657 15 23 C 15 21.343 16.343 20 18 20 C 19.657 20 21 21.343 21 23 Z M 18 21.6 C 17.227 21.6 16.6 22.227 16.6 23 C 16.6 23.773 17.227 24.4 18 24.4 C 18.773 24.4 19.4 23.773 19.4 23 C 19.4 22.227 18.773 21.6 18 21.6 Z" class="clr-i-outline--alerted clr-i-outline-path-4--alerted" rx="3"></path>
                <path class="clr-i-outline--alerted clr-i-outline-path-5--alerted clr-i-alert" d="M 26.854 1.144 L 21.134 11.004 C 20.579 11.818 21.114 12.928 22.097 13.001 C 22.142 13.005 22.188 13.006 22.234 13.004 L 33.684 13.004 C 34.669 13.036 35.319 11.991 34.855 11.122 C 34.834 11.081 34.81 11.042 34.784 11.004 L 29.064 1.144 C 28.57 0.299 27.348 0.299 26.854 1.144 Z"></path>
                <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect>
              </svg>
              <h4 class="mb-3 mt-4">Pengalaman</h4>
              <p class="mb-0">
 Penulis merupakan seorang yang ahli di bidang digital marketing
 selama hapir 10 tahun </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-4 mb-lg-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64" height="64" fill="#8b1d28">
                <defs>
                  <style>
                    .eva-11 {
                      fill: #fff;
                      opacity: 0;
                    }
                    .eva-12 {
                      fill: inherit;
                    }
                  </style>
                </defs>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="behance">
                    <g id="behance-2" data-name="behance">
                      <rect class="eva-11"></rect>
                      <path class="eva-12" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#8b1d28" color="#8b1d28"></path>
                      <path class="eva-12" d="M10.52,11.78v0a1.4,1.4,0,0,0,1.12-1.43c0-1-.77-1.6-1.94-1.6H7v6.5H9.7C11,15.2,12,14.53,12,13.37A1.52,1.52,0,0,0,10.52,11.78ZM8.26,9.67H9.41c.6,0,.95.32.95.85s-.38.89-1.25.89H8.26Zm1,4.57h-1V12.3H9.49c.75,0,1.17.38,1.17,1S10.24,14.24,9.22,14.24Z"></path>
                      <path class="eva-12" d="M14.75,10.3a2.11,2.11,0,0,0-2.28,2.25V13a2.15,2.15,0,0,0,2.34,2.31A2,2,0,0,0,17,13.75H15.79a.9.9,0,0,1-1,.63,1.07,1.07,0,0,1-1.09-1.19v-.14H17v-.47A2.12,2.12,0,0,0,14.75,10.3Zm1,2H13.73a1,1,0,0,1,1-1.09,1,1,0,0,1,1,1.09Z"></path>
                      <rect class="eva-12" x="13.25" y="9.2"></rect>
                    </g>
                  </g>
                </g>
              </svg>
              <h4 class="mb-3 mt-4">Tujuan Pemasaran</h4>
              <p class="mb-0">
 Unduk mengedukasi masyarakat indonesia agar berkembang di
 industri digital seperti sekarang ini </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-block mb-4 mb-lg-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64" height="64" fill="#8b1d28"><defs><style>.eva-11{fill:#fff;opacity:0;}.eva-12{fill:inherit;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="arrow-circle-up"><g id="arrow-circle-up-2" data-name="arrow-circle-up"><rect class="eva-11"></rect><path class="eva-12" d="M12.71,7.29a1,1,0,0,0-.32-.21A1,1,0,0,0,12,7h0l-.1,0a.82.82,0,0,0-.27.06.72.72,0,0,0-.19.11,1,1,0,0,0-.13.09l-3,2.86a1,1,0,0,0,1.38,1.45L11,10.34V16a1,1,0,0,0,2,0V10.41l1.29,1.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path><path class="eva-12" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"></path></g></g></g></svg>
              <h4 class="mb-3 mt-4">Target Visi</h4>
              <p class="mb-0">
 Mengingkatkan minat baca para generasi muda yang ingin maju dan
 tumbuh lebih baik </p>
            </div>
          </div>
        </div>
      </div>
    <div class="collapse navbar-collapse" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
	<ul class="navbar-nav ms-auto" data-v-menu-items="">
	  <li class="nav-item dropdown vvveb-hidden  has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="1" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   vvveb-hidden" href="" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   " href="" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		
			  <div class="dropdown-menu" data-v-menu-item-recursive="">
		  <div data-v-menu-item="" class="nav-item vvveb-hidden " data-v-class-if-dropdown="category.children > 0" data-v-id="2" data-v-component="menu" data-v-type="menu-item">
			<a class="dropdown-item" href="" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>
		  </div> 
		   
		</div></li><li class="nav-item dropdown vvveb-hidden " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="3" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="10" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Beranda</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Beranda</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="11" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/tentang-kami-5" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Tentang Kami</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/tentang-kami-5" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Tentang Kami</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="12" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/produk-6" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Produk</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/produk-6" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Produk</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="13" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/kontak-7" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Kontak</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/kontak-7" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Kontak</span></a>		
			  </li>	  
	  
	  
	</ul>
	
</div><div class="collapse navbar-collapse" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
	<ul class="navbar-nav ms-auto" data-v-menu-items="">
	  <li class="nav-item dropdown vvveb-hidden  has-dropdown" data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="1" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   vvveb-hidden" href="" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   " href="" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		
			  <div class="dropdown-menu" data-v-menu-item-recursive="">
		  <div data-v-menu-item="" class="nav-item vvveb-hidden " data-v-class-if-dropdown="category.children > 0" data-v-id="2" data-v-component="menu" data-v-type="menu-item">
			<a class="dropdown-item" href="" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>
		  </div> 
		   
		</div></li><li class="nav-item dropdown vvveb-hidden " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="3" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name=""></span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="10" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Beranda</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Beranda</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="11" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/tentang-kami-5" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Tentang Kami</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/tentang-kami-5" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Tentang Kami</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="12" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/produk-6" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Produk</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/produk-6" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Produk</span></a>		
			  </li><li class="nav-item dropdown  " data-v-menu-item="" data-v-class-if-has-dropdown="category.children > 0" data-v-id="13" data-v-component="menu" data-v-type="menu-item">
		
		<a class="nav-link                                                                                                                                                                   " href="/page/kontak-7" data-v-if="category.children <= 0" data-v-menu-item-url=""><span data-v-menu-item-name="">Kontak</span></a>		<a class="nav-link dropdown-toggle                                                                                                                                                                   vvveb-hidden" href="/page/kontak-7" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url=""><span data-v-menu-item-name="">Kontak</span></a>		
			  </li>	  
	  
	  
	</ul>
	
</div>
    
</div>